.list1{
    list-style-type: none;
    margin-left: 15px;
   
}
.tabitem{
    color: orange;
    border: 2px solid blue;
}
.button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}